
<html>
<head>

</head>
<body>

    <h2 style="text-align: center; color:blue; font-weight:bold">Use Cases Narrative And Class Diagrams</h2>
    <h3>Use Case Narrative 1</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date:</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name:</td>
                <td></td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td></td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td></td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>
    


    <h3>Use Case Narrative 2</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date:</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name:</td>
                <td></td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td></td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td></td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>

    <h3>Use Case Narrative 3</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date:</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name:</td>
                <td></td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td></td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td></td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>
    

    <h3>Use Case Narrative 4</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date:</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name:</td>
                <td></td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td></td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td></td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>

