
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" type="text/css" media="screen" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <style>
        

    </style>
</head>
<body>


    <h2 style="text-align: center; color:blue; font-weight:bold">Use Cases Narrative And Class Diagrams</h2>
    <br />
    <br />
    <h3 style="text-align:center;">Picture Of A Class Diagram</h3>

    <div class="container">
        <div class="row">
            <div class="col-12 px-0">
                <img class="img-fluid, center-block" src="https://i.pinimg.com/originals/23/2a/c7/232ac7e1350d3c361d1828ae09a80f07.jpg">
            </div>
        </div>
    </div>




    <br /><br /><br />
    <h3>Use Case Narrative 1</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date: 20 July 2022</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name:</td>
                <td>Add Diabetic Patient</td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td>1</td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td>High</td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2">Patient</td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2">Receptionist</td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2">Doctor/Nurse</td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2">N/A</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2">The Receptionist Clicks on the button to add a new Diabetic patient</td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2">The website must be opened</td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2">The clinic recerives a new Diabetic Patient</td>
            </tr>
        </tbody>
    </table>

    <h3>Use Case Narrative 2</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date: 20 July 2022</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name:</td>
                <td>Add HIV Positive Patient</td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td>2</td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td>High</td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2">Patient</td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2">Receptionist</td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2">Nurse/Doctor</td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2">N/A</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2">The receptionist clicks on the Create new Patient To Add a new patient to the system</td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2">The site must be opened</td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2">The clinic received a new HIV Positive Patient</td>
            </tr>
        </tbody>
    </table>

    <h3>Use Case Narrative 3</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date: 20 July 2022</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name:</td>
                <td>Add A new Covid positive person</td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td>3</td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td>High</td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2">Patient</td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2">Receptionist</td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2">Doctor/Nurse</td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2">N/A</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2">The Receptionist Clicks on the button to add a new Patient with Covid-19</td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2">The website must be opened</td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2">The clinic recerives a new Diabeti Patient</td>
            </tr>
        </tbody>
    </table>



    <h3>Use Case Narrative 4</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date: 20 July 2022</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name: </td>
                <td>Conduct Covid Screening</td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td>4</td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td> High</td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2"> Patient</td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2"> Receptionist</td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2">Doctor/Nurse</td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2">N/A</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2">The cleck Click on Make new Screening button to conduct covid-19 Screening</td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2">The site website must be open</td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2">A patient Wishes to make a Covid-19 Screening</td>
            </tr>
        </tbody>
    </table>

    <h3>Use Case Narrative 5</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date: 20 July 2022</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name:</td>
                <td> Make a booking</td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td>5</td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td>High</td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2">A patient</td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2">Receptionist</td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2">Doctor/Nurse</td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2">N/A</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2">The receptionist clicks on the make new booking buttoin to create new booking</td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2">The website must be open</td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2">A patient wishes to make new booking</td>
            </tr>
        </tbody>
    </table>


    <h3>Use Case Narrative 6</h3>
    <table class="table table-bordered table table-striped" style="background-color:cornflowerblue">
        <thead>
            <tr>
                <th colspan="1000" style="font-weight:bold; font-size:15px ">System Name: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Author: Vision Shikwambane</td>
                <td>Date: 20 July 2022</td>
                <td>Version: 1.0.0</td>
            </tr>
            <tr>
                <td>Use case name:</td>
                <td>Add Diabetic Patient</td>
                <td>USE CASE TYPE</td>
            </tr>
            <tr>
                <td>Use case id:</td>
                <td>6</td>
                <td>Business Requirements:</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td>High</td>
                <td>System Analysis:</td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>Case Study</td>
                <td>System Design:</td>
            </tr>
            <tr>
                <td>Primary business actor</td>
                <td colspan="2">Patient</td>
            </tr>
            <tr>
                <td>Primary system actor</td>
                <td colspan="2">Receptionist</td>
            </tr>
            <tr>
                <td>
                    Other participating
                    actors:
                </td>
                <td colspan="2">Doctor/Nurse</td>
            </tr>
            <tr>
                <td>
                    Other interested
                    stakeholders:
                </td>
                <td colspan="2">N/A</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Pre-condition:</td>
                <td colspan="2">The website must be opened</td>
            </tr>
            <tr>
                <td>Trigger:</td>
                <td colspan="2">The clinic recerives a new Diabeti Patient</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
