@model List<u19072237_HW04.Models.HIVpatient>

@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: url("https://i.pinimg.com/564x/95/71/03/9571030ecf8f47d17582814f1be203ed.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    

</head>
<body>
    <h1 style="text-align: center; color: black; position: relative; top: 200px; font-weight: bold;">WELCOME ADMIN</h1>


</body>
</html>




